# Server Configuration
PORT=8000
NODE_ENV=development # options: development (local docker), deployment (AWS ECS)

# PostgreSQL (Aiven / EC2)
DATABASE_URL='postgres://user:password@host:port/database'
POSTGRES_CA_FILE='postgres_ca.pem'

# AWS General
AWS_REGION='ap-south-1'
AWS_ACCESS_KEY_ID='YOUR_AWS_ACCESS_KEY_ID'
AWS_SECRET_ACCESS_KEY='YOUR_AWS_SECRET_ACCESS_KEY'

# Kafka (Aiven / Upstash)
KAFKA_BROKER='kafka-host:port'
KAFKA_USERNAME='user'
KAFKA_PASSWORD='password'
KAFKA_CLIENT_ID='deployment-service'
KAFKA_CA_FILE='kafka_ca.pem'

# ClickHouse (Analytics)
CLICKHOUSE_URL='http://host:8123'
CLICKHOUSE_USER='admin'
CLICKHOUSE_PASSWORD='YOUR_CLICKHOUSE_PASSWORD'
CLICKHOUSE_DB='analytics'

# Storage
S3_BUCKET_NAME='project-files-123456'

# [AUTOMATED - SQS] (Will be populated by setup-sqs.ts)
AWS_SQS_QUEUE_URL='YOUR_SQS_QUEUE_URL'

# [AUTOMATED - ECS] (Will be populated by setup-ecs.ts)
ECS_CLUSTER_ARN='YOUR_ECS_CLUSTER_ARN'
ECS_TASK_DEFINITION_ARN='YOUR_ECS_TASK_DEFINITION_ARN'
ECS_CONTAINER_NAME='YOUR_ECS_CONTAINER_NAME'
ECS_SUBNETS='subnet-...'
ECS_SECURITY_GROUPS='sg-...'
